.pageTitleWithDefaultLogo {
	width: 100%;
	min-height: 1.5em;
}

/* Sidebar Hide Dropdown Icons */
.emby-collapse-expandIcon {display:none;height:0px;width:0px;}

/* Magnification effect on posters */
.cardBox{transition:all 0.1s;}
.cardBox:hover {transform:scale(1.025);transition:all 0.1s;}

/* Increase size of logos */
.itemName-primary-logo {
height: 3em !important; 
}
